.ControllerExposure2-body__background {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/controller/hrc-img-01-exposure.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ControllerExposure2-body__sub1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
}

.ControllerExposure2-body__sub2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.ControllerExposure2-body__sub2 > img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.ControllerExposure2-body__sub3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
}

.ControllerExposure2-body__sub3 > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}

.ControllerExposure2-body__sub3 > div:nth-child(1) > img {
  width: 60%;
}

.ControllerExposure2-body__sub3 > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
}

.ControllerExposure2-body__sub3 > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background-color: #08285c;
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.ControllerExposure2-body__sub3 > div:nth-child(2) > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}
