.Controller-body__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/controller/hrc-img-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Controller-main__1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 25%;
}

.Controller-main__1 > div {
  width: 110px;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}

.Controller-main__1 > div > div:first-child:active {
  opacity: 0.7;
}

.Controller-main__1 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Controller-main__1--text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.Controller-main__2 {
  width: 100%;
  height: 25%;
}

.Controller-main__2 > div {
  text-align: center;
  width: 100%;
  height: 100%;
}

.Controller-main__2 > div > img {
  width: 90%;
  height: 100%;
}

.Controller-main__3 {
  width: 100%;
  height: 25%;
}

.Controller-main__4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.Controller-main__4 > div {
  width: 175.5px;
  height: 49.5px;
  position: relative;
}

.Controller-main__4 > div:active {
  opacity: 0.5;
}

.Controller-main__4 > div > img {
  width: 100%;
  height: 100%;
}

.Controller-main__4--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
