.HealingContents-body__background {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/controller/hrc-img-02.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.HealingContents-body__sub1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
}

.HealingContents-body__sub2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 45%;
  padding-bottom: 20px;
}

.HealingContents-body__sub2 > div:first-child {
  width: 330px;
  height: 100px;
}

.HealingContents-body__sub2 > div:first-child > img {
  width: 100%;
  height: 100%;
}

.HealingContents-body__sub2 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: -0.5px 0 #3fb9ff, 0 0.5px #3fb9ff, 0.5px 0 #3fb9ff, 0 -0.5px #3fb9ff;
}
.HealingContents-body__sub2 > div:nth-child(2) > div > span {
  color: #00ffae;
}

.HealingContents-body__sub3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 45%;
  padding-bottom: 30px;
}

.HealingContents-body__sub3 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  background-color: #08285c;
  border-radius: 30px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(8, 40, 92, 0.7);
}

.HealingContents-body__sub3 > div:active {
  opacity: 0.7;
}
