.HealingVideoPlayer-body__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.HealingVideoPlayer-body__videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 200px;
}

.HealingVideoPlayer-body__video {
  width: 80%;
}
