.RecentHistory-body__background {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/controller/hrc-img-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.RecentHistory-body__sub1 {
  width: 100%;
  height: 7.5%;
  border: 1px solid black;
}

.RecentHistory-body__sub2 {
  width: 100%;
  height: 12.5%;
  border: 1px solid black;
}

.RecentHistory-body__sub3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  border: 1px solid black;
}

.RecentHistory-body__sub3 > div {
  width: 90%;
  height: 90%;
  background-image: url("../assets/controller/hrc-img-08.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.RecentHistory-body__sub4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  border: 1px solid black;
}

.RecentHistory-body__sub4 > div {
  width: 90%;
  height: 90%;
  background-image: url("../assets/controller/hrc-img-09.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.RecentHistory-body__sub5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  border: 1px solid black;
}

.RecentHistory-body__sub5 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: rgba(8, 40, 92, 0.7);
  border-radius: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.RecentHistory-body__sub5 > div:active {
  opacity: 0.7;
}
