.ControlBlock-body__background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ControlBlock-body__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ControlBlock-body__img {
  width: 100%;
  height: 100%;
  padding: 3px;
}
